.rightArrow, .leftArrow {
  position: absolute;
  color: white;
  right: 50px;
  font-size: clamp(1rem, 100vw, 3.5rem);
  bottom: 25px;
  user-select: none;
  cursor: pointer;
  z-index: 12;
}

.leftArrow {
  right: 125px;
}

.slide {
  position: relative;
  height: 100vh;
}

.slide .slide-container {
  position: relative;
  height: 100%;
}

.slide-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.slide-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.2);
}

/*FA Icons Decoration*/
.fa {
  color: white;
  margin-right: 20px;
}

/* INput Styling */
.input {
  padding: 6px;
  border:0;
  outline: 0;
  border-bottom: 2px solid white;
  background: transparent;
}

::placeholder {
  color: white;
}

.button {
  background: transparent;
  outline: none;
  border: 0;
  color: white;
}

@media screen and (max-width: 1200px) {
  .input, .button {
    display: none;
  }
}