.rightArrow, .leftArrow {
  position: absolute;
  color: white;
  right: 25px;
  font-size: 3.5rem;
  user-select: none;
  cursor: pointer;
  z-index: 12;
}

.leftArrow {
  left: 25px;
}

.slide {
  position: relative;
  height: 100vh;
}

.slide .slide-container {
  position: relative;
  height: 100%;
}

.slide-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.slide-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.7);
}

/*FA Icons Decoration*/
.fa {
  color: white;
  margin-right: 20px;
}

/* INput Styling */
.input {
  padding: 6px;
  border:0;
  outline: 0;
  border-bottom: 2px solid white;
  background: transparent;
  color: white;
}

::placeholder {
  color: white;
}

.button {
  background: transparent;
  outline: none;
  border: 0;
  color: white;
}

@media screen and (max-width: 1200px) {
  .input, .button {
    display: none;
  }
  .leftArrow {
    left: 0;
  }
  .rightArrow {
    right: 0;
  }
  img.small {
    width: 100%;
    max-width: 100%!important;
  }
}




a {
  text-decoration: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-1 {
  flex: 1;
  margin: 10px;
}

.col-2 {
  flex: 2;
  margin: 10px;
}

.block {
  background: #e0e0e0;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;;
}

.row.center {
  align-items: center;
}

img.small {
  max-width: 15rem;
}

.btn {
  padding: 10px;
  margin: 1px;
  color: white;
  outline: none;
  border: none;
}

.btn-danger {
  background: red;
}

.btn-success {
  background: green;
}

.checkout {
  margin-top: 10px;
  width: 100%;
  padding: 12px 20px;
}

.row div {
  margin: 5px;
}